{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'css/artikel-form.css' %}">
{% endblock meta %}

{% block content %}
<div class="artikel-list" style="padding:10px">
    {% for x in article %}
    <div class="card" style="width:18rem; max-height: 500px">
        <img class="card-img-top" src={{x.thumbnail}} alt="Card image">
        <div class="card-body card-title">
            <a href="contents/{{x.pk}}" class="font-title">{{x.judulArtikel}}</a>
        </div>
        <div class="card-text">
            <div class="font-content">
                {{x.isiArtikel|truncatechars:80}}
            </div>
            <p><small class="text-muted" style="font-size: small;">
                {{x.tglRilis}}
            </small>
            </p>
        </div>
    </div>
    {% endfor %}     
</div>
{% endblock content %}