


{% extends "base.html"%}
{% load static %}
{% load cloudinary %}
{% block meta %}
{% endblock meta %}

{% block content %}

<p class="h2" style="padding-top: 40px; text-align: center;">Create Forum</p>
<form action="" method="POST"> 
    {% csrf_token %}
    <div class="mb-4" style="padding-top: 10px">
        <label for="title_input" class="form-label">Title</label>
        {{ form.title }}
        <div id="emailHelp" class="form-text">Your forum will be seen by everyone.</div>
    </div>
    <div class="mb-4">
        <label for="message_input" class="form-label">Message</label>
        {{ form.message }}
    </div>
    

    
    <input class="btn btn-success" style="margin-top: 10px" type="submit" value="Add">
</form>

{% endblock content %}

{% block js %}
{% endblock js %}


{% comment %}
<!DOCTYPE html>       
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Post Forum</title>
    </head>
    <body>
        <form action="" method="POST"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add">
        </form>
    </body>
</html>  
{% endcomment %}
