{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
    <img src="{% static 'images/logo.png' %}" style="width: 6% ; padding: 10px; " alt="invid19">
    <a class="navbar-brand" href="#">Invid19</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-lg-row justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'main:home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Berita</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'indexArticle' %}">Artikel</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="#">Forum Diskusi</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'addArticle' %}">Buat Artikel</a></li>
            <li><a class="dropdown-item" href="#">Buat Berita</a></li>
            {% comment %} <li><a class="dropdown-item" href="#"></a></li> {% endcomment %}
          </ul>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}">
        <button type="button" class="btn btn-danger">Logout</button>
      </a>
      {% else %}
      {% if request.path == '/login' %}
      <a href="{% url 'signup' %}">
        <button type="button" class="btn btn-success">Signup</button>
      </a>
      {% else %}
      <a href="{% url 'login' %}">
        <button type="button" class="btn btn-success">Login</button>
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</nav>
